@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Manrope:wght@200..800&display=swap');

html, body {
    background-color: #FAF0E6;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Borel, Manrope, sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 0;
    color: #4B4B4B;
}

p, button {
    font-family: Manrope, sans-serif;
    font-size: 1.1rem;
    color: #4B4B4B;
}

.sketchpad {
    display: flex;
    height: 52vh;
    aspect-ratio: 1/1;
    border: 1px solid #C4C4C4;
    border-radius: 0px;
    flex-wrap: wrap;
    background-color: white;
    overflow: hidden;
}

.box {
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    width: calc(100% / 4);
}

.flex {
    display: flex;
    align-items: center;
}

.controls {
    padding: 1rem 0;
    gap: 1rem;
    justify-content: space-between;
}

.controls button {
    padding: .5rem 2.2rem;
    border-radius: 99px;
    border: none;
}

.size {
    background-color: #A1CAF1;
    color: #fff;
}

.reset {
    background-color: #4B4B4B;
    color: #fff;
}

.current-size {
    width: 166px;
}