* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-weight: 300;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.grid {
    width: 70vh;
    height: 70vh;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 1px;
    z-index: 9;
}

.box-shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.item {
    background-color: rgba(0, 0, 0, 0.05);
    aspect-ratio: 1 / 1;
}

.black-bg {
    background-color: black;
}

.buttons {
    margin: 1rem 0;
}

button {
    border: none;
    padding: 16px 32px;
    width: 125px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color:rgba(0, 0, 0, 0.2);
    color: black;
}